<!-- Loop over each object in the post array -->
{{#each posts as |post| }}
<div class="post-container mb-3 px-2 ">
  <div class="row mb-4 post-header pt-2 pb-2 ps-2 light-color">
    <div class="col-md-5 me-5">
      <h2>
        <a class="light-color" href="/project/{{post.id}}">{{post.title}}</a>
      </h2>
    </div>
    <div class="col-md-5  ms-5 my-auto">
      <p class="my-auto">Created by {{post.user.name}} on {{format_date post.date_created}}</p>
    </div>
  </div>
  <div class="row mb-4 ">
    <div class="col-md-7">
      <p>
        {{post.content}}
      </p>
    </div>
  </div>
</div>
{{/each}}